<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Đăng nhập</title>
</head>
<body>
<h1>Đăng nhập</h1>

<div th:if="${param.error}">
    <p style="color:red;">Sai tài khoản hoặc mật khẩu!</p>
</div>
<div th:if="${param.logout}">
    <p style="color:green;">Đã đăng xuất!</p>
</div>

<form th:action="@{/login}" method="post">
    <label>Username:
        <input type="text" name="username"/>
    </label><br/>
    <label>Password:
        <input type="password" name="password"/>
    </label><br/>
    <button type="submit">Đăng nhập</button>
</form>

<p><a th:href="@{/}">Về trang Index</a></p>

</body>
</html>
